
.black {
    background-color: black;
}

.image{
    width: 200px;
    height: 420px;
    background-image: url(hand2.png);
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-size: cover;
}

.show {
    animation-name: fadeInShow;
    /* animation-delay: 1ms; */
    animation-duration: 5s;
}

.love {
    width: 100px;
    height: 100px;
}


@keyframes fadeInShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
